body{
    background-color: rgba(139, 210, 210, 0.8);
    margin-left: 20px;
}
#my-name{
    border: 2px solid blue;
    padding: 5px;
    background-color: rgba(196, 195, 40, 0.84);
}
input,button{
    font-size: 16px;
    padding: 10px;

}